@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

/* Reset */
	
	html, body{
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	#mapid {
		height: 100%;
		width: 100%; 
		position: relative;
	}
	